nav li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}
nav a {
    text-decoration: none;
    color: #333;
}
nav a:hover {
    text-decoration: underline;
    background-color: aqua;
    padding: 10px;
}
header, footer {
    /* background-color: #f4f4f4; */
    padding: 20px;
    text-align: center;
}
figure {
    display: block;
    margin: 20px auto;
    text-align: center;
}