body{
    max-width: 1270px;
    margin: 0 auto;
    }
.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
    border: 1px solid #4d58f3;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(49, 49, 49, 0.1);
    padding: 16px;
    width: 300px;
    text-align: left;
    background: linear-gradient(rgba(42, 0, 158, 0.5), rgba(133, 11, 112, 0.5));

}
.card img{
    width: 100%;
    border-radius: 50%;
    height: 300px;
}

.card button{
    padding: 10px 20px;
    background-color: #623FAA;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}
.card button:hover{
    background-color: #F83AD8;
}