body{
    max-width: 1270px;
    margin: 0 auto;
}

.hero-section{
    display: flex;
    background: linear-gradient(rgba(98, 71, 170, 0.5), rgba(248, 58, 216, 0.5));
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    font-size: 25px;
    padding: 25px;
}

.hero-section img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.8;
}

.hero-section button{
    padding: 15px 30px;
    background-color: #623FAA;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    
}
.hero-section button:hover{
    background-color: #F83AD8;
}