nav ul {
    display: flex;
    justify-content: center;
}

nav li{
    margin-right: 20px;
    list-style: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav li:hover{
    background-color: lightgray;
    
}